.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper>.files {
  grid-column: 1/1;
  grid-row: 1;
}
.wrapper>.files-editor {
  grid-column: 2/4;
  grid-row: 1;
}
.wrapper>.examples { 
  grid-column: 1/4;
  grid-row: 2;
}
.wrapper>.examples-editor { 
  grid-column: 1/4;
  grid-row: 3;
}
.wrapper>.output { 
  grid-column: 1/4;
  grid-row: 4;
}

a {
  cursor: pointer;
}
.selected a {
  text-decoration: underline;
  font-weight: bolder;
}
.output textarea {
  width: 100%;
  height: 300px;
}